@CHARSET "UTF-8";
html{height:100%;}
body{display:flex;flex-direction:column;height:100%;margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,PingFang-SC-Regular,'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;}
header{flex:0 0 auto;}
.main{flex:1 0 auto;background-color:#FFFFFF;padding-top:70px;}
.background-color-FAFAFA{background-color:#FAFAFA !important;}
footer{flex:0 0 auto;border-top:1px solid #CCCCCC;}
.icp{padding-top:2px;padding-bottom:2px;text-align:center;color:#CCCCCC;}
.icp p{margin-bottom: 3px;margin-top: 3px;}
.icp p a,.icp p span a{color: #BBBBBB;font-size: 12px;}
a{color:black;text-decoration:none;}
a:hover{color:#F55B57;text-decoration:none;}

/*navbar*/
.navbar{
    border-radius: 0px;
    background-color:#FFFFFF;
    margin-bottom:0px;
}

.navbar .logo {
    background:url(../../images/logo/Jerry-white.png) center no-repeat;
    margin-top:3px;
    display: block;
    width: 130px;
    height: 45px;
    background-size: 100%;
}

.navbar .navbar-nav .btn-login{
    margin-top: 5px;
}

.navbar .navbar-search {
    width:220px;
    margin-top:6px;
    margin-right:15px;
    border:1px solid #CCCCCC;
}

.navbar .navbar-search .navbar-search-text{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    box-shadow: none;
}

.navbar .navbar-search .navbar-search-img{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    background-color:#FFFFFF;
}

.navbar .navbar-nav .user-avatar{
    width:30px;
    height:30px;
}

.navbar .writing {
    padding-top: 15px !important;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 8px;
}

.am-dropdown>a:hover {
    background-color: #eee !important;
}

.am-dropdown-content {
    margin: 0;
}

/*navbar -end*/

/*article*/
.main .post {
	width: 100%;
    background-color:#FFFFFF;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 2px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.post .post-media {
    padding:0px;
    padding-bottom:15px;
}

.post .post-media .post-image{
    width:100%;
    height:100%;

}

.post .post-head{
	padding-top: 5px;
}

.post .post-head h3{
    margin-top:0px;
    font-weight:bold;
}

.post .post-context h5{
    color:#777;
    font-size:15px;
    line-height:1.5;
}

.post .post-footer img{
    width: 18px;
}

.post .post-footer {
    border-top:0px;
    padding-bottom:35px;
}

.post .post-footer .interacts {
    float:left;
    padding-top:10px;
}

.post .post-footer .sign {
    float:right;
    text-align:right;
    color:#777;
}

.post .post-footer .sign .author{
    font-size:17px;
    color:#777;
}

.post .post-footer .interacts > span{
    margin-right:10px;
    color:#777;
}
/*article -end*/

/*user settings page*/
.nav-tabs li a {
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px !important;
}

.nav-tabs .active{
    border-bottom: 3px solid #000000;
}

.tab-content .am-form{
    padding-top:40px;
    padding-bottom:20px;
}
.tab-content .am-form .am-form-group .user-avatar-img{
    width: 150px;
    height: 150px;
    float: left;
}

.tab-content .am-form .am-form-group .upload-avatar-div{
    padding-top:60px;
    padding-left:30px;
    padding-bottom:60px;
}
.tab-content .am-form .am-form-group input[type=password]{
    margin-bottom:10px;
}
.tab-content .am-form .div-form-commit{
    width:100%;
    text-align:center;
}

.tab-content .am-form .div-form-commit .am-btn{
    padding:10px 70px;
}
/*user settings -end*/

/*user homepage */
.page-header{
    margin:0px;
    border-bottom:0px;
}

.page-header .user-avatar-img{
    width: 160px;
    height: 160px;
}

.page-header .user-info{
    display: inline-block;
    margin-left:30px;
}

.page-header .user-info h3{
    font-weight:bold;
}

.page-header .user-info h5 span{
    color:#8590a6;
    margin-right:20px;
}
.user-homepage .post{
    display:table;
}
.user-homepage .post .col-md-8{
    padding-left: 0px;
}
.user-homepage .post .post-media .post-image{
    margin-top:12px;
}
.user-homepage .post .post-footer{
    padding: 0px;
}
.user-homepage .post .post-user-card{
    color:#969696;
}
.user-homepage .post .post-user-card .sign .username{
    color:#000000;
}
.user-homepage .post .post-user-card .sign .user-avatar{
    margin:5px;
    width:35px;
    height:35px;
}
.user-homepage .post .post-user-card .sign h5{
    margin-top:0px;
    margin-bottom:5px;
}
/*user homepage -end*/


