<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


    <!-- auto-injec -->
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <context:component-scan base-package="pers.jerry.quick.*.controller" />


    <!-- <mvc:resources location="/" mapping="/**/*.html"/> <mvc:resources location="/"
        mapping="/**/*.js"/> <mvc:resources location="/" mapping="/**/*.css"/> <mvc:resources
        location="/" mapping="/**/*.png"/> <mvc:resources location="/" mapping="/**/*.gif"/>
        <mvc:resources location="/" mapping="/**/*.jpg"/> -->

    <!-- annotation-driven <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"
        /> -->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="pers.jerry.quick.interceptors.LoginInterceptor" >
            	<property name="excludedUrls">
            		<list>
            			<value>/signin</value>
            			<value>/logon</value>
            			<value>/sendcaptcha</value>
            		</list>
            	</property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/post/editor" />
            <mvc:mapping path="/post/edit"/>
            <mvc:mapping path="/user/setting"/>
            <mvc:mapping path="/user/homepage"/>
            <bean class="pers.jerry.quick.interceptors.IsLoginInterceptor" >
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <bean id="handlerExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    	<property name="exceptionMappings">
    		<props>
    			<prop key="pers.jerry.quick.exceptions.AuthorizationException">redirect:/logon</prop>
    		</props>
    	</property>
    </bean>

    <!--通用视图解析 -->
    <bean id="viewResolverCommon"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value="" />
        <property name="viewClass"
            value="org.springframework.web.servlet.view.InternalResourceView" />
        <property name="order" value="1" />
    </bean>


    <!-- freeMarker -->
    <bean id="viewResolverFtl"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
        <property name="contentType" value="text/html; charset=utf-8" />
        <property name="requestContextAttribute" value="request" />
        <property name="cache" value="true" />
        <property name="suffix" value=".ftl" />
        <property name="order" value="0" />
    </bean>

    <!-- freeMarker模板 -->
    <bean id="freemarkerConfig"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath">
            <value>/WEB-INF/templates/</value>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape" />
            </map>
        </property>
        <property name="defaultEncoding">
            <value>utf-8</value>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">3600</prop>
            </props>
        </property>
    </bean>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
    <!-- 定义文件上传解析器 -->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="2097152"></property>
        <property name="maxInMemorySize" value="2097152"></property>
    </bean>
</beans>
