@CHARSET "UTF-8";

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    background-color: #FAFAFA;
    padding-top: 20px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

footer {
    flex: 0 0 auto;
    border-top: 1px solid #CCCCCC;
}

.icp {
    text-align: center;
    color: #CCCCCC;
}

.editor-label {
    text-align: left;
    margin-bottom: 15px;
}

.post-form .a-collapse {
    color: #666;
}

.post-form .a-collapse i{
    margin-right: 5px;
    margin-bottom: 10px;
}

.bottom-float-update,
.bottom-float-commit {
    left: 0;
    border: 1px solid #cccccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: #cccccc;
    filter: alpha(opacity = 50); /*IE*/
    -moz-opacity: 0.50; /*FireFox*/
    opacity: 0.50; /*Chrome, Opera, Safari*/
}

.bottom-float-update{
    display: none;
}

.btn-post-update,
.btn-post-commit {
    color: black;
    background-color: #cccccc;
    border: 0px;
    width: 100%;
    height: 100%;
    max-width: 150px;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 12px 12px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.btn-post-update:hover,
.btn-post-commit:hover{
    color:white;
}

.post-info .input-group {
    width: 100%;
}

.post-info .input-group input {
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
}

.post-image-group {
    text-align: left;
    margin-bottom: 10px;
}

.post-alert-danger {
    text-align: center;
    padding-bottom: 10px;
    background-color: #dd514c;
    border-color: #d83832;
    color: #fff;
}
.file-preview-thumbnails .file-thumbnail-footer .file-upload-indicator{
    display: none;
}

.am-offcanvas-bar {
    width: 35%;
    background: #FFFFFF;
}

.am-offcanvas-bar:after {
     width: 0px;
}

.btn-edit-post-info {
    margin-bottom: 15px;
}
