@CHARSET "UTF-8";
/*login*/
html,body,.main {
    height: 100%;
}

.main {
    padding-top:40px;
    background-color:#FAFAFA;
}

.main .login-window {
    float: none;
    background-color:#FFFFFF;
    padding:20px;
    margin-top:50px;
    margin-bottom:20px;
    border-radius: 4px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.head-logo .logo {
    width: 160px;
    height: 110px;
    background-image:url(../image/Jerry-500-375.jpg);
    background-size:158px 108px;
}
.login-window .login-window-container{
    float:none;
}

.login-window .title{
    color: #EA6F5A;
    margin-bottom:25px;
}


.login-contarner .input-group {
    border:1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom:10px;
}

.login-contarner .input-group .glyphicon {
    top:0px;
}
.login-contarner .input-group input {
    border:0px;
    border-radius: 4px;
    box-shadow: none;
}

.login-contarner .input-group .input-group-addon {
    background-color: transparent;
    border:0px;
}

.login-contarner .btn-login-commit{
    background-color:#3194D0;
    border:0px;
    width: 100%;
    max-width: 308px;
    float:none;
    border-radius: 2px;
    margin-top: 60px;
}
.login-contarner .aux-fun {
    display: block;
    margin-top: 20px;
}
