@CHARSET "UTF-8";
/*login*/
html,body,.main {
    height: 100%;
}

.main {
    padding-top:40px;
    background-color:#FAFAFA;
}

.main .login-window {
    float: none;
    background-color:#FFFFFF;
    padding:20px;
    margin-top:40px;
    margin-bottom:20px;
    border-radius: 4px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.head-logo {
    padding-top: 20px;
    padding-bottom: 10px;
}

.head-logo .logo {
    width: 200px;
    height: 140px;
    background-image:url(../images/Jerry-500-375.jpg);
    background-size:198px 138px;
}
.login-window .login-window-container{
    float:none;
}

.login-window .title{
    color: #EA6F5A;
    margin-bottom:20px;
    margin-top:20px;
}


.login-contarner .input-group {
    border:1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom:10px;
}

.login-contarner .input-group .glyphicon {
    top:0px;
}

.login-contarner .input-group input {
    border:0px;
    border-radius: 4px;
    box-shadow: none;
}

.login-contarner .input-group .input-group-addon {
    background-color: transparent;
    border:0px;
}

.login-contarner .btn-login-commit{
    background-color:#F0AD4E;
    border:0px;
    width: 100%;
    max-width: 308px;
    float:none;
    border-radius: 2px;
    margin-top: 40px;
    margin-bottom:20px;
}
.login-contarner .aux-fun {
    display: block;
    padding-top: 10px;
}

.login-contarner .alert-message {
    color: #a94442;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    background: url(../images/error.png) no-repeat #f2dede;
    background-position-x: 10px;
    background-position-y: 8px;

}

.login-contarner .alert-box{
    display:none;
}
.signup-contarner .input-groups{
    border:1px solid #CCCCCC;
    border-radius: 4px;
}

.signup-contarner .input-group{
    border: 0px;
    border-radius: 0px;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:0px;
}

.signup-contarner .input-group-authcode{
   border-bottom:0px solid #CCCCCC;
}

.signup-contarner .input-group-email .input-group-btn .btn{
   border-radius: 0px;
   border-color: transparent;;
   background-color:#bbbbbb;
   color: #ffffff;
   height: 34px;
}

.signup-contarner .btn-login-commit{
    margin-top:30px;
}

