@CHARSET "UTF-8";

/*navbar*/
.navbar{
    border-radius: 0px;
    background-color:#FFFFFF;
    margin-bottom:0px;
}

.navbar .logo {
    background:url(../images/logo/Jerry-white.png) center no-repeat;
    margin-top:3px;
    display: block;
    width: 130px;
    height: 45px;
    background-size: 100%;
}

.navbar .navbar-search {
    width:220px;
    margin-top:6px;
    margin-right:15px;
    border:1px solid #CCCCCC;
}

.navbar .navbar-search .navbar-search-text{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    box-shadow: none;
}

.navbar .navbar-search .navbar-search-img{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    background-color:#FFFFFF;
}

.navbar .navbar-nav .dropdown-menu{
    min-width:100%;
}
/*navbar*/
