@CHARSET "UTF-8";
html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
}

header {
    flex:0 0 auto;
}

.main {
    flex:1 0 auto;
    background-color:#FAFAFA;
    padding-top:40px;
}

footer {
    flex:0 0 auto;
    border-top:1px solid #CCCCCC;
}

.icp {
    padding-top:2px;
    padding-bottom:2px;
    text-align: center;
    color: #CCCCCC;
}

.icp p{
    margin-bottom:0px;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:none;
    color: #F55B57;
}
p {
    margin-bottom:20px;
}

.post-head-image {
    max-width:100%;
}

.post .title{
    font-weight: bold;
    color: black;
}

.post .content {
    font-size:16px;
    line-height: 1.7;
}

.post .content img{
    max-width: 100%;
}
.post .author{
    padding-top:10px;
    padding-bottom:10px;
}

.post .author a{
    margin-right:20px;
}

.post .author span{
    color:#cccccc;
}

.tags h4{
    margin-right:10px;
    display:inline-block;
}

.tags > h4 > span {
    background-color: #cccccc;
}

.tags > h4 > span > a{
    color: #808080;
    font-weight: normal;
}

.tags > h4 > span > a:hover {
    color: #F55B57;
}

.interact .post-like{
    width:20px;
}

.interact>a{
    border: 1px solid #F37774;
    color:#F55B57;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.interact>a:hover {
    background-color:#FFE7E7;
}
