@CHARSET "UTF-8";
html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
}

header {
    flex:0 0 auto;
}

.main {
    flex:1 0 auto;
    background-color:#FAFAFA;
    padding-top:40px;
}

footer {
    flex:0 0 auto;
    border-top:1px solid #CCCCCC;
}

.icp {
    padding-top:2px;
    padding-bottom:2px;
    text-align: center;
    color: #CCCCCC;
}

.icp p{
    margin-bottom:0px;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:none;
    color: #F55B57;
}
p {
    margin-bottom:20px;
}

.post-head-image {
    max-width:100%;
}

.post .title{
    font-weight: bold;
    color: black;
}

.post .content {
    font-size:16px;
    line-height: 1.7;
}

.post .content img{
    max-width: 100%;
}
.post .author{
    padding-top:10px;
    padding-bottom:10px;
}

.post .author a{
    margin-right:20px;
}

.post .author span{
    color:#cccccc;
}

.tags h4{
    margin-right:10px;
    display:inline-block;
}

.tags > h4 > span {
    background-color: #cccccc;
}

.tags > h4 > span > a{
    color: #808080;
    font-weight: normal;
}

.tags > h4 > span > a:hover {
    color: #F55B57;
}

.interact .post-like{
    width:20px;
}

.interact>a{
    border: 1px solid #F37774;
    color:#F55B57;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.interact>a:hover {
    background-color:#FFE7E7;
}
.comment {
    display: grid;
}

.comment .col-md-1 {
    margin-bottom:10px;
}

.comment .user-avatar{
    width: 35px;
    height: 35px;
}

.comment textarea{
    resize: vertical;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0px;
    border: 1px solid #ccc;
    box-shadow: none;
}

.comment .col-btn-comment{
    margin-top:10px;
}

.comment .btn-comment{
    border: 0px;
    color: white;
    background-color: #42C02E;
    border-radius: 4px;
    padding: .5em 1.5em;
}

.bottom-float-edit {
    left: 0;
    border: 1px solid #cccccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: #cccccc;
    filter: alpha(opacity = 50); /*IE*/
    -moz-opacity: 0.50; /*FireFox*/
    opacity: 0.50; /*Chrome, Opera, Safari*/
}

.bottom-float-edit{
    display: none;
}

.btn-post-edit {
    color: black;
    background-color: #cccccc;
    border: 0px;
    height: 100%;
    max-width: 150px;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 12px 12px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.btn-post-edit:hover{
    color:white;
}

.close-bottom-edit-row{
    background-color: transparent;
    border: 0px;
    margin-top: 4px;
}

.close-bottom-edit-row:hover{
    color:white;
}
