@CHARSET "UTF-8";
html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
}

header {
    flex:0 0 auto;
}

.main {
    flex:1 0 auto;
    background-color:#FAFAFA;
    padding-top:40px;
}

footer {
    flex:0 0 auto;
    border-top:1px solid #CCCCCC;
}

.icp {
    padding-top:2px;
    padding-bottom:2px;
    text-align: center;
    color: #CCCCCC;
}

.icp p{
    margin-bottom:0px;
}

a {
    color: black;
    text-decoration:none;
}

a:hover {
    color: #F55B57;
    text-decoration:none;
}

.nav-tabs li a {
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-load-Moer {
    margin-bottom: 20px;
    border-radius: 2px;
}

.btn-load-Moer:hover {
    color: #F55B57;
    background-color: #fff;
    border-color: #ccc;
}
/*post*/
.main .post {
    background-color:#FFFFFF;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 2px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.post .post-media {
    padding:0px;
    padding-bottom:15px;
}

.post .post-media .post-image{
    width:100%;
    height:100%;
}

.post .post-head h3{
    margin-top:0px;
    font-weight:bold;
}

.post .post-context h5{
    color:#777;
    font-size:15px;
    line-height:1.5;
}

.post .post-footer img{
    width: 18px;
}

.post .post-footer {
    border-top:0px;
    padding-bottom:35px;
}

.post .post-footer .interacts {
    float:left;
    padding-top:10px;
}

.post .post-footer .sign {
    float:right;
    text-align:right;
    color:#777;
}

.post .post-footer .sign .author{
    font-size:17px;
    color:#777;
}

.post .post-footer .interacts > span{
    margin-right:10px;
    color:#777;
}
/*end post*/

/*user*/
.authors .list-group .list-group-item{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
}

.authors .list-group .list-group-item > a{
    float:left;
}

.authors .list-group .list-group-user-img{
    width:50px;
    height:50px;
    margin-right:12px;
}
/*end user*/
