html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
}

header {
    flex:0 0 auto;
}

.main {
    flex:1 0 auto;
    background-color:#FAFAFA;
    padding-top:40px;
}

footer {
    flex:0 0 auto;
    border-top:1px solid #CCCCCC;
}

/*navbar*/
.navbar{
    border-radius: 0px;
    background-color:#FFFFFF;
    margin-bottom:0px;
}

.navbar .logo {
    background:url(../images/logo/Jerry-white.png) center no-repeat;
    margin-top:3px;
    display: block;
    width: 130px;
    height: 45px;
    background-size: 100%;
}

.navbar .navbar-search {
    width:220px;
    margin-top:6px;
    margin-right:15px;
    border:1px solid #CCCCCC;
}

.navbar .navbar-search .navbar-search-text{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    box-shadow: none;
}

.navbar .navbar-search .navbar-search-img{
    border-radius: 0px;
    border:0px solid #CCCCCC;
    background-color:#FFFFFF;
}
/*navbar*/
/*post*/
.main .post {
    background-color:#FFFFFF;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 2px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.post .post-media {
    padding:0px;
    padding-bottom:15px;
}

.post .post-media .post-image{
    width:100%;
    height:100%;

}

.post .post-head h3{
    margin-top:0px;
    font-weight:bold;
}

.post .post-context h5{
    color:#777;
    font-size:15px;
    line-height:1.5;
}

.post .post-footer img{
    width: 18px;
}

.post .post-footer {
    border-top:0px;
    padding-bottom:35px;
}

.post .post-footer .interacts {
    float:left;
    padding-top:10px;
}

.post .post-footer .sign {
    float:right;
    text-align:right;
    color:#777;
}

.post .post-footer .sign .author{
    font-size:17px;
    color:#777;
}

.post .post-footer .interacts > span{
    margin-right:10px;
    color:#777;
}
/*end post*/

/*aside*/
.main .aside{
    margin-top:10px;
}

.main .aside > div{
    margin-bottom:10px;
}

.main .aside h5{
    font-weight:bold;
}

.main .aside > div > h5{
    font-weight:bold;
    padding-bottom:5px;
    border-bottom:1px solid #CCCCCC;
}

.icp{
    text-align: center;
    color: #CCCCCC;
}

