html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    padding:0;
    font-family:-apple-system,BlinkMacSystemFont,PingFang-SC-Regular,'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;
}

header {
    flex:0 0 auto;
}

.main {
    flex:1 0 auto;
    background-color:#FAFAFA;
    padding-top:40px;
}

footer {
    flex:0 0 auto;
    border-top:1px solid #CCCCCC;
}

.icp {
    padding-top:2px;
    padding-bottom:2px;
    text-align: center;
    color: #CCCCCC;
}

.icp p{
    margin-bottom:0px;
}

a {
    color: black;
    text-decoration:none;
}

a:hover {
    color: #F55B57;
    text-decoration:none;
}

.btn-load-Moer {
    margin-bottom: 20px;
    border-radius: 2px;
    width: 100%;
}

.btn-load-Moer:hover {
    color: #F55B57;
    background-color: #fff;
    border-color: #ccc;
}

/*post*/
.main .post {
    background-color:#FFFFFF;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 2px;
    border: 1px solid #dbe2e8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.post .post-media {
    padding:0px;
    padding-bottom:20px;
}

.post .post-media .post-image{
    width:100%;
    height:100%;

}

.post .post-head h3{
    margin-top:0px;
    font-weight:bold;
}

.post .post-context{
	padding-top: 1px;
	padding-bottom: 3px;
}

.post .post-context h5{
    color:#777;
    font-size:15px;
    line-height:1.5;
}

.post .post-footer img{
    width: 18px;
}

.post .post-footer {
    border-top:0px;
    height: 30px;
}

.post .post-footer .interacts {
}

.post .post-footer .sign {
    text-align:right;
    color:#777;
}

.post .post-footer .sign .author{
    font-size:17px;
    color:#777;
}

.post .post-footer .interacts > span{
    margin-right:10px;
    color:#777;
}
.post .post-footer .sign .author img{
    width: 30px;
}

.post .post-user-card{
    color:#969696;
}
.post .post-user-card .sign .username{
    color:#000000;
}
.post .post-user-card .sign .user-avatar{
    margin:5px;
    width:35px;
    height:35px;
}
.post .post-user-card .sign h5{
    margin-top:0px;
    margin-bottom:5px;
}
/*end post*/

/*aside*/
.main .aside{
    margin-top:20px;
}

.main .aside > div{
    margin-bottom:10px;
    padding: 10px 15px;
    background-color: #fff;
}

.main .aside > div > h5{
    font-weight:bold;
    padding-bottom:5px;
    border-bottom:1px solid #CCCCCC;
    margin-top: 2px;
}

.main .aside > div div{
    color: #777;
    font-size: 13px;
}
.main .aside .div-writing{
    text-align: center;
}
.main .aside .img-writing {
    width: 95%;
}

