<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jerry.quick.post.dao.PostDao">
    <resultMap type="Post" id="postsResult">
        <id column="id" property="id"/>
        <result column="createdate" property="createDate"/>
        <result column="title" property="title"/>
        <result column="subject" property="subject"/>
        <result column="postimage" property="postImage"/>
        <result column="description" property="description"/>
        <result column="tags" property="tags"/>
        <result column="status" property="status"/>
        <result column="htmlcontent" property="htmlContent"/>
        <result column="markdowncontent" property="markdownContent"/>

        <association property="createUser" column="createuser" javaType="User" jdbcType="INTEGER" resultMap="userResult" />
    </resultMap>

    <resultMap type="User" id="userResult">
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>
        <result column="u_photo" property="photo"/>
    </resultMap>

    <select id="getPosts" resultMap="postsResult">
        SELECT P.ID AS "id",
        P.CREATEUSER AS "createUser",
        P.CREATEDATE AS "createDate",
        P.SUBJECT AS "subject",
        P.TITLE AS "title",
        P.DESCRIPTION AS "description",
        P.HTMLCONTENT AS "htmlContent",
        P.MARKDOWNCONTENT AS "markdownCONTENT",
        P.TAGS AS "tags",
        P.POSTIMAGE AS "postImage",
        P.STATUS AS "status",
        U.ID AS "u_id",
        U.NAME AS "u_name",
        U.PHOTO AS "u_photo"
        FROM JERRY_POST P
        LEFT JOIN JERRY_USER U ON P.CREATEUSER = U.ID
        ORDER BY P.CREATEDATE DESC
        LIMIT 5 OFFSET 0
    </select>


    <select id="getPostsPage" parameterType="Integer" resultMap="postsResult">
        SELECT P.ID AS "id",
        P.CREATEUSER AS "createUser",
        P.CREATEDATE AS "createDate",
        P.SUBJECT AS "subject",
        P.TITLE AS "title",
        P.DESCRIPTION AS "description",
        P.HTMLCONTENT AS "htmlContent",
        P.MARKDOWNCONTENT AS "markdownCONTENT",
        P.TAGS AS "tags",
        P.POSTIMAGE AS "postImage",
        P.STATUS AS "status",
        U.ID AS "u_id",
        U.NAME AS "u_name",
        U.PHOTO AS "u_photo"
        FROM JERRY_POST P
        LEFT JOIN JERRY_USER U ON P.CREATEUSER = U.ID
        ORDER BY P.CREATEDATE DESC
        LIMIT 5 OFFSET #{beginNum}
    </select>

    <select id="getPost" parameterType="Integer" resultMap="postsResult">
        SELECT P.ID AS "id",
        P.CREATEUSER AS "createUser",
        P.CREATEDATE AS "createDate",
        P.SUBJECT AS "subject",
        P.TITLE AS "title",
        P.DESCRIPTION AS "description",
        P.HTMLCONTENT AS "htmlContent",
        P.MARKDOWNCONTENT AS "markdownCONTENT",
        P.TAGS AS "tags",
        P.POSTIMAGE AS "postImage",
        P.STATUS AS "status",
        U.ID AS "u_id",
        U.NAME AS "u_name",
        U.PHOTO AS "u_photo"
        FROM JERRY_POST P
        LEFT JOIN JERRY_USER U ON P.CREATEUSER = U.ID
        WHERE P.ID = #{id}
    </select>

    <!--sum(case is_like when true then 1 else 0 end ) as "likeCount" -->

    <select id="hotPosts" resultType="map">
        SELECT PL.POSTID AS "postId",
        COUNT(1) AS "likeCount"
        FROM JERRY_POST_LIKE PL
        GROUP BY PL.POSTID
        ORDER BY "likeCount" DESC
        LIMIT 5
    </select>

    <insert id="savePost" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO JERRY_POST (CREATEDATE, CREATEUSER, TITLE, SUBJECT, DESCRIPTION, TAGS, POSTIMAGE, STATUS, HTMLCONTENT, MARKDOWNCONTENT)
        VALUES (#{createDate}, #{createUser.id}, #{title}, #{subject}, #{description}, #{tags}, #{postImage}, #{status}, #{htmlContent}, #{markdownContent})
    </insert>
</mapper>
