<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jerry.quick.post.dao.PostDao">

     <resultMap type="User" id="userResult">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap type="Post" id="postsResult">
        <id column="id" property="id"/>
        <result column="createdate" property="createDate"/>
        <result column="title" property="title"/>
        <result column="subject" property="subject"/>
        <result column="postimage" property="postImage"/>
        <result column="description" property="description"/>
        <result column="tags" property="tags"/>
        <result column="status" property="status"/>
        <result column="htmlcontent" property="htmlContent"/>
        <result column="markdowncontent" property="markdownContent"/>

        <association property="createUser" column="createuser" javaType="User" jdbcType="INTEGER" resultMap="userResult" />
    </resultMap>

    <select id="getPosts" resultMap="postsResult">
        SELECT * FROM JERRY_POST P
        LEFT JOIN JERRY_USER U ON P.CREATEUSER = U.ID
        ORDER BY P.CREATEDATE DESC
    </select>

    <insert id="savePost" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO JERRY_POST (CREATEDATE, CREATEUSER, TITLE, SUBJECT, DESCRIPTION, TAGS, POSTIMAGE, STATUS, HTMLCONTENT, MARKDOWNCONTENT)
        VALUES (#{createDate}, #{createUser.id}, #{title}, #{subject}, #{description}, #{tags}, #{postImage}, #{status}, #{htmlContent}, #{markdownContent})
    </insert>
</mapper>
