<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jerry.quick.user.dao.UserDao">
    <resultMap type="User" id="userResult">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="createdate" property="createdate"/>
        <result column="lastvisit" property="lastvisit"/>
        <result column="lastip" property="lastip"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="photo" property="photo"/>
        <result column="user_group" property="userGroup"/>
        <result column="password_md5" property="passwordMD5"/>
    </resultMap>

    <select id="searchUsersByName" parameterType="map" resultMap="userResult">
        SELECT U.ID AS "id",
        U.NAME AS "name",
        U.PHOTO AS "photo"
        FROM JERRY_USER U
        WHERE U.NAME LIKE #{name}
        LIMIT 5 OFFSET #{beginNum}
    </select>

    <select id="getUser" parameterType="User" resultMap="userResult">
        SELECT U.ID AS "id",
        U.STATUS AS "status",
        U.NAME AS "name",
        U.EMAIL AS "email",
        U.PHONE AS "phone",
        U.PHOTO AS "photo",
        U.USER_GROUP AS "user_group",
        U.PASSWORD_MD5 AS "password_md5"
        FROM JERRY_USER U
        WHERE 1=1
        <if test="id != null and 0 != id">
            AND U.ID = #{id}
        </if>
        <if test="name != null">
            AND U.NAME = #{name}
        </if>
        <if test="email != null">
            AND U.EMAIL = #{email}
        </if>
        <if test="password != null">
            AND U.PASSWORD = #{password}
        </if>
        <if test="passwordMD5 != null">
            AND U.PASSWORD_MD5 = #{passwordMD5}
        </if>
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO JERRY_USER
        (CREATEDATE, LASTVISIT, LASTIP, NAME, PASSWORD, PHONE, EMAIL, PHOTO, USER_GROUP, PASSWORD_MD5)
        VALUES (#{createdate}, #{lastvisit}, #{lastip}, #{name}, #{password}, #{phone}, #{email}, #{photo}, #{userGroup}, #{passwordMD5})
    </insert>

</mapper>
