<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jerry.quick.user.dao.UserDao">
    <resultMap type="User" id="userResult">
        <id column="id" property="id"/>
        <result column="createdate" property="createdate"/>
        <result column="lastvisit" property="lastvisit"/>
        <result column="lastip" property="lastip"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="photo" property="photo"/>
        <result column="user_group" property="userGroup"/>
        <result column="password_md5" property="passwordMD5"/>
    </resultMap>

    <select id="getUser" parameterType="User" resultMap="userResult">
        SELECT * FROM JERRY_USER
        WHERE 1=1
        <if test="id != null and 0 != id">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="email != null">
            AND email = #{email}
        </if>
        <if test="password != null">
            AND password = #{password}
        </if>
        <if test="passwordMD5 != null">
            AND password_md5 = #{passwordMD5}
        </if>
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO JERRY_USER
        (createdate, lastvisit, lastip, name, password, phone, email, photo, user_group, password_md5)
        VALUES (#{createdate}, #{lastvisit}, #{lastip}, #{name}, #{password}, #{phone}, #{email}, #{photo}, #{userGroup}, #{passwordMD5})
    </insert>

</mapper>
